/* Inicio.css */

/* Global Styles */
html {
  scroll-behavior: smooth;
}

/* Inicio Section */
.inicio {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  height: 100vh;
  padding: 0 var(--padding);
  margin-bottom: 55px;
}

.inicio .contenido {
  max-width: 1100px;
  margin: auto;
  color: var(--text-color);
}

.inicio .fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.inicio .fila .col {
  flex: 1;
}

.inicio .fila .col h2 {
  margin-bottom: 15px;
  font-size: 40px;
}

.inicio .fila .col p {
  font-size: var(--font-size-medium);
  line-height: 1.6;
}

.inicio .fila .col button {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  color: var(--text-color);
  padding: 10px 30px;
  border: 2px solid var(--hover-color);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.inicio .fila .col button:hover {
  transform: scale(1.1);
}

.contenedor-img {
  text-align: center;
}

.responsive-img {
  max-width: 400px;
  height: auto;
  animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  50% {
    transform: translateY(-10px) rotateY(5deg);
  }
  100% {
    transform: translateY(0) rotateY(0deg);
  }
}


/* Media Queries */
@media (max-width: 768px) {
  .inicio {
    clip-path: none;
    height: auto;
    padding: var(--padding);
  }

  .inicio .fila {
    flex-direction: column;
    text-align: center;
  }

  .inicio .fila .col h2 {
    font-size: 24px;
  }

  .contenedor-img {
    margin-top: 20px;
  }

  .responsive-img {
    max-width: 300px;
  }
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #1a282fe6;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: zoomIn 0.5s ease;
}

.modal h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #fff;
}

.modal p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.btn-close {
  background: var(--gradient-start);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-close:hover {
  background: var(--gradient-end);
}


@keyframes twinkle {
  0%, 100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(100vw * var(--x)), calc(100vh * var(--y)));
  }
}
