@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: normal normal normal 16px / 28px 'Helvetica Neue' !important;
    letter-spacing: 0.5px !important;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f6fafc;
    line-height: 1.5;
}
:root {
    /* Colores principales */
    --primary-color: #000c67; /* Azul oscuro */
    --secondary-color: #be2626; /* Rojo intenso */
    --gradient-start: #ff5b00; /* Naranja */
    --gradient-end: #ff9900; /* Naranja claro */
    --accent-color: #00deef; /* Cian */
  
    /* Colores de texto y fondo */
    --text-color: #ffffff; /* Blanco */
    --background-color: #000000; /* Negro */
    --shadow-color: #9bd2f4; /* Azul claro */
  
    /* Otros */
    --hover-color: #ff5b00; /* Color para hover en enlaces */
    --border-color: #3e3e3e; /* Color de bordes */
  
    /* Tipografía */
    --font-primary: 'Arial', sans-serif;
    --font-size-large: 36px;
    --font-size-medium: 18px;
    --font-size-small: 16px;
  
    /* Espaciados */
    --padding: 20px;
    --margin: 20px;
    --border-radius: 10px;
  
    /* Animaciones */
    --fade-duration: 1s;
    --fade-timing: ease-out;
  }
  
